<br>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Questions</a>
    <div class="text=right">
      <a href="questions/new" class ="btn btn-outline-primary">Add question</a>
    </div>    
  </div>
</nav>
<br>
<div class="container">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary me-md-2" type="submit">Reset</button>
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
