<%= f.fields_for 'answers_attributes[]', @question.answers.build do |answer| %>
  <p> Your answer </p>
  
  <div class="form-group" id="answer-input">
      <%= answer.text_field 'body',
                        class: "form-control mt-10",
                        placeholder: 'Your answer',
                        autofocus: true %>
  </div>

  <div id="dynamic-inputs"></div>

  <%= button_tag "Add one more answer", type: 'button', id: 'add-new-answer', class: 'btn btn-primary mt-10' %>
  <%= button_tag "Remove answer", type: 'button', id: 'remove-answer', class: 'btn btn-danger mt-10' %>
<% end %>
