<h3 class='inline-block'>New question</h3> 
<a href="<%= questions_path %>", class="btn btn-secondary back-button">Back</a>

<div class="mt-40">
  <%= form_for(@question, html: {role: "form"}) do |form|%>
    <%= render partial: 'form_fields', locals: {f: form} %>
  <% end %>
</div>
