<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new test from your tutor!</p>
    <p>
    Here is a link to the test: <a href="http://www.google.com">TEST</a>
    </p>
  </body>
</html>