<% provide :page_title, 'Test Assignment' %>

<div class="container text-center">  
  <h1><%= test_assignment.test.name %></h1>
  <br>
</div>

<div class="form-group">
  <%= form_for(:answer_options_assignee_answers,
                url: answer_options_assignee_answers_path,
                method: :post,
                html: { role: 'form'}) do |f| %>
    <% questions.each do |question| %><br>
        <strong><%= question.body %></strong>
        <strong><%= question.assignee_answers %></strong>
    <% end %>
  <% end %>
</div>
