<div class="row">
  <div class="col-md-6">
    <br>
    <div>
      <% @questions.each do |question| %><br>
      <h4>
        <strong>
          <%= question.body %>
        </strong>
        <% question.answers.each do |answer| %>
          <% if question.answer_type = 'single' %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="answer" id="answer.id">
              <label class="form-check-label" for="answer.id">
                <%= answer.body %>
              </label>
            </div>
          <% elsif question.answer_type = 'multiple' %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="answer" id="answer.id">
              <label class="form-check-label" for="answer.id">
                <%= answer.body %>
              </label>
            </div>
          <% else %>
            <div class="mb-3">
              <textarea class="form-control is-invalid" id="validationTextarea" required></textarea>
            </div>
          <% end %>
        <% end %>
      </h4>
      <% end %>
    </div>
  </div>
</div>
