<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= test_assignments_path %>">Test asssignments</a>
    <div class="text=right">
      <a href="<%= new_test_assignment_path %>" class ="btn btn-outline-primary new-button">Create new test assignment</a>
    </div>    
  </div>
</nav>
