.back-button {
  margin-top: 10px;
  float: right;
}

.inline-block {
  margin: 10px;
  display: inline-block;
  width: 30%;
}

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-40 { margin-top: 40px; }

.ml-10 { margin-left: 10 }

.mt-mb-20 {
  margin: 20px 0px 20px 0px;
}

.hidden {
  display:none;
}

.display-inline {
  display: inline;
}
