<% provide :page_title, 'Edit Test' %>
<br>
<h3 class='inline-block'>Edit test</h3> 
<a href="<%= tests_path %>", class="btn btn-secondary back-button">Back</a>

<div class="mt-40">
  <%= render 'form' %>
</div>
