<% provide :page_title, 'Tests' %>

<div class="row">
 <div class="col-md-6">
 <h3>
 <strong>
   User tests
 </strong>
</h3>
    <h7>
      <strong>
        Tests count: <%= @tests.count %>
      </strong>
    </h7>

    <hr>

    <%= render partial: 'tests/test_preview', collection: @tests, as: :test %>
    
    <h6>
      <strong>
      <%= link_to 'Create New', new_test_path, class: 'card-link'%>
      </strong>
    </h6>
  </div>  
</div>
<footer>
  <div class="pagination justify-content-center">
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</footer>
