<% provide :page_title, 'New Test' %>

<h3 class='inline-block'>New test</h3> 
<a href="<%= tests_path %>", class="btn btn-secondary back-button">Back</a>

<div class="mt-40">
  <%= render 'form' %>
</div>
